!docs/shot.png
*.dSYM/
*.ipa
*.log
*.xcodeproj/
*.xcworkspace/
.DS_Store
DerivedData/
Generated/note-models/
build/
node_modules/
out-sim/
out/
package-lock.json
project-sim.yml
shots-all/
shots-render/
shots-store/
xcuserdata/
